<launch>
	<include file="$(find rover_frames)/launch/frames.launch"/>

	<node pkg="encodometry" type="wheel_odometry.py" name="encoder_noder"/>
	
	<node pkg="encodometry" type="test.py" name="fake_news_encoder"/>

	<node pkg="nmea_navsat_driver" name="nmea_serial_driver" type="nmea_serial_driver">
		<param name="port" value="/dev/ttyS4"/>
        	<param name="baud" value="9600"/>
	</node>

    	<node pkg="rtimulib_ros" type="rtimulib_ros" name="rtimulib_node" output="screen">
        	<param name="calibration_file_path" value="$(find rtimulib_ros)/config"/>
        	<param name="calibration_file_name" value="RTIMULib" />
        	<param name="frame_id" value="imu_link"/>
    	</node>

	<include file="$(find robot_localization)/launch/dual_ekf_navsat_example.launch">
	</include>
</launch>
